<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf错误页面</title>
<style>
table td {
	vertical-align: top;
	border: solid 1px #888;
	padding: 10px;
}
</style>
</head>
<body>
  <h1>自定义错误页面</h1>
  <table>
    <tr>
      <td>时间</td>
      <td th:text="${timestamp}" />
    </tr>
    <tr>
      <td>错误</td>
      <td th:text="${error}" />
    </tr>
    <tr>
      <td>状态码</td>
      <td th:text="${status}" />
    </tr>
    <tr>
      <td>消息</td>
      <td th:text="${message}" />
    </tr>
    <tr>
      <td>异常</td>
      <td th:text="${exception}" />
    </tr>
    <tr>
      <td>错误栈</td>
      <td><pre th:text="${trace}" /></td>
    </tr>
  </table>
</body>
</html>
