<!DOCTYPE html>
<html lang="zh">
<head>
    <style>
        table.emp-form td:nth-child(3){color:red;}
    </style>
</head>
<body>
<form action="#" th:action="@{/employee}" th:object="${employee}" method="post">
    <table class="emp-form">
        <tr>
            <td>名字:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">名字错误</td>
        </tr>
        <tr>
            <td>部门:</td>
            <td><input type="text" th:field="*{dept}"/></td>
            <td th:if="${#fields.hasErrors('dept')}" th:errors="*{dept}">部门错误</td>
        </tr>
        <tr>
            <td>生日:</td>
            <td><input type="text" th:field="*{dateOfBirth}"/></td>
            <td th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">生日错误</td>
        </tr>
        <tr>
            <td>
                <button type="submit">添加</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
